<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food App</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <h1 id="app-title">Undecided Decider (subject to change)</h1>
    <div class="option-list">
        <div class="option-input">
            <input type="text" id="option" placeholder="Enter Option...">
            <input type="button" value="Add">
        </div>
        <div class="option-dropdown">
            <ul>
                <li>Panda</li>
                <li>Newark</li>
                <li>King of Thai</li>
                <li>Vietnamese</li>
                <li>Sweet Garden</li>
                <li>Kiseki</li>
                <li>McDonalds</li>
                <li>Three Sheep</li>
                <li>Mala Tung</li>
                <li>Popeyes</li>
                <li>Cantina</li>
                <li>Newark Buffet</li>
            </ul>
        </div>
    </div>
</body>
</html>